html {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-user-drag: none;
-ms-user-select: none;
}

a {
color: #8FE0EA;
cursor: pointer;
}

body a:visited {
color: #9aea8f;
}

#contribute button {
width: 14em;
border-radius: 5px;
height: 3em;
border: 5px ridge #dedede;
background-color: #000;
color: #fff;
}

.colorful {
animation: colorful_txt 4s infinite;
}

@keyframes colorful_txt {
0% {
color: #83ff83;
}
25% {
color: #8FE0EA;
}
50% {
color: #FF0000;
}
75% {
color: #02E048;
}
100% {
color: #83ff83;
}
}
